/* 기본 설정 */
body {
  transition: background-color 0.5s, color 0.5s;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

/* 다크모드 설정 */
body.dark-mode {
  transition: background-color 0.5s, color 0.5s;
  background-color: #1c1c1c;
  color: #e4e4e4;
}

body.dark-mode .header {
  transition: background-color 0.5s, color 0.5s;
  background-color: #1c1c1c;
  color: #e4e4e4;
}

/* Header 스타일 */
.header {
  transition: background-color 0.5s, color 0.5s;
  display: flex;
  justify-content: space-between; /* 좌/우 정렬 */
  align-items: center;
  padding: 16px 24px;
  background-color: white;
}

.header__logo {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}

/* 메뉴 스타일 */
.header__menu {
  display: flex;
  gap: 16px; /* 메뉴 간격 */
  align-items: center;
}

.header__menu a,
.header__menu button {
  text-decoration: none;
  border: none;
  background: none;
  color: inherit;
  font-size: 16px;
  cursor: pointer;
}
